
@{
    ViewBag.Title = "Pozdrav";
    Layout = "~/Views/Shared/_mojLayout.cshtml";
}


@section header
{
<div id="header">
    Ustvarjamo "lepo" stran
    </div>
}
@section list
{
    <ul>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
    </ul>
}
<h1>Multisekcijska vsebina</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare lobortis egestas. Vivamus eget felis eleifend, efficitur dui nec, aliquam sem. In maximus fringilla lorem, vel auctor mi tristique sit amet. Maecenas felis massa, elementum non est in, faucibus tempus tellus. Curabitur a lacus non erat tempus gravida. Morbi id tincidunt tellus, eu ultricies sapien. Nunc convallis nulla in diam iaculis mattis. Curabitur sodales sagittis sapien, eu egestas urna maximus non. Ut porttitor sem suscipit convallis tristique. Sed interdum mollis nisi vel fringilla. Ut id arcu malesuada, suscipit ex in, mollis turpis. Donec leo mi, sodales vel nibh in, imperdiet maximus dolor. Nam faucibus laoreet lacus. Fusce lacinia dolor felis, non viverra ex ullamcorper sit amet.
</p>
